<html>
    <head>
        <title>dashboard</title>
        <style>
            *{
                color:maroon;
                font-size:xx-large;
                margin:auto;
                text-align: center;
            }
            a{
                height:30px;
                width:60px;
                
            }
        </style>
    </head>
    <body>
        Welcome <%= name %>!<br>
        You have successfully logged in
        <a href="/home">logOut</a>
    </body>

</html>