<!DOCTYPE html>
<html>
    <head>
        <title>project</title>
        <link rel="stylesheet" href="./css/forgotStyle.css">        
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Give Ur Email to send Password reset link</h1>
        <form method="post" action="/forgot">
        <label>Email:</label>
        <input type="email" name="email" placeholder="Email" required="">
        <button type="submit">send</button>
        </form>
    </body>
</html>