<!DOCTYPE html>
<html>
<head>
	<title>Land</title>
	<link rel="stylesheet" href="./css/land.css">
	<!-- <link rel="stylesheet" type="text/css" href="slide navbar style.css"> -->
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
	</style>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<h1 class="greet">You have successfully submitted your form. </h1>	
	<h4>click here to go to home page and signin</h4>
	<!-- <button>HOME PAGE</button> -->
	<div class="butt"><a href="/homepage">Home Page</a></div>
</body>
</html>